@use "variables" as v;
@use "mixin";


.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: transparent;
  padding: 16px 2.5rem;
  transition: all 0.3s ease-in-out;
  z-index: 1000;


  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
  }

  &__logo {
    a {
      color: #ccc;
      font-family: serif, sans-serif;
    }
  }

  &__btn {
    display: flex;
    z-index: 1000000;
    margin: 0 40px 0 auto;

    li {

      a {
        display: block;
        width: 100px;
        padding: 8px 20px;
        color: #fff;
        font-size: 0.75rem;
        font-weight: bold;
        text-align: center;

      }
    }
  }

  &__nav {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1000000;

    &--list {
      position: relative;
      display: flex;
      align-items: center;
    }

    &--item {
      margin-left: 1.25rem;

      a {
        color: #000;
        font-weight: bold;
      }
    }

    &--btn {
      background-color: v.$yellow;
      padding: 8px 24px;
      border-radius: 20px;
    }
  }

  @include mixin.sp {
    padding: 16px 24px;
  }
}
