@use "variables" as v;
@use "mixin";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: system-ui, -apple-system, Roboto, 'Hiragino Kaku Gothic ProN', 'Noto Sans JP', sans-serif;

  @include mixin.sp {
    font-size: 75%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
p,
a,
figure,
figcaption {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

a:hover {
  opacity: 0.7;
  transition: .3s;
}

.active {
  display: block !important;
}

ruby>rt {
  font-size: 33%;
  letter-spacing: 0.7em;
  text-align: center;
}

.more__btn {
  @include mixin.more__btn;
}
