@use "variables" as v;

@mixin heading {
  font-weight: bold;
  color: v.$text-color;
}

// レスポンシブ

@mixin sp {
  @media (max-width: 767.9px) {
    @content;
  }
}

@mixin pc {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin palt {
  font-feature-settings: "palt";
  letter-spacing: 0.1em;
}

@mixin more__btn {
  position: relative;
  display: block;
  width: calc(100% + 40px);
  max-width: 120px;
  margin-top: 40px;
  font-size: 1rem;
  font-weight: bold;
  z-index: 2;

  &::after {
    position: absolute;
    content: "";
    bottom: -4px;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
  }

  &--arrow {
    position: absolute;
    content: "";
    right: -0.75rem;
    top: calc(50% + 4px);
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    background-color: v.$yellow;
    border-radius: 50%;
    z-index: -1;
    transition: all 0.3s ease-in-out;

    &::after {
      position: absolute;
      content: "→";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 14px;
    }
  }

  &:hover {
    opacity: 1 !important;
    transition: all 0.3s;
  }

  &:hover::after {
    animation: btn-border 0.3s ease-in-out;
  }

  &:hover &--arrow {
    width: 32px;
    height: 32px;
    right: -0.5rem;
    transition: all 0.3s ease-in-out;
  }
}

@keyframes btn-border {
  0% {
    width: 100%;
    opacity: 1;
  }

  50% {
    width: 0;
    opacity: 0;
  }

  // 66% {
  //   width: 0;
  // }

  100% {
    width: 100%;
    opacity: 1;
    left: 0;

  }
}

@mixin section__title {
  // position: absolute;
  // left: 64px;
  width: fit-content;
  color: v.$white-color;
  font-size: 32px;
  letter-spacing: 0.125em;
  font-family: serif, sans-serif;
  // opacity: .8;
}
